
<div class="profile-heading">
    <div class="profile-heading__wrapper">
        <h2 class="profile-heading__title"><a href="/">Simon Hamilton</a></h2>
        <p class="profile-heading__subtitle">Senior UI Engineer</p>
        {# <p class="profile-heading__contact">
            <a class="contact" href="mailto:simon@scopethis.net">simon@scopethis.net</a>
        </p> #}
    </div>
</div>

<div class="profile-description">
    <div class="profile-description__wrapper">
            <p class="profile-description__content">
            <span class="experience">A versatile Senior UI Engineer with 10+ years experience</span>
            <span class="overview">and a strong technical overview</span>
            <span class="process">of both the Development and Design process.</span>
        </p>
    </div>
</div>
