    <div class="post-heading">
        <div class="post-heading__wrapper">
            <p class="post-heading__subtitle">{{ post.date.toLocaleDateString(
                "en-US", {year: 'numeric', month: 'long', day: 'numeric'}) }}</p>
            <h2 class="post-heading__title">{{post.data.title}}</h2>
            <p>
            {%- for tag in post.data.tags -%}
                <a href="/posts/{{ tag }}" class="post-heading__tag">{{ tag }}</a>
            {%- endfor -%}
            </p>
        </div>
    </div>
    <div class="post-content">
        <div class="post-content__wrapper">
            <p>{{post.data.excerpt }}</p>
            <p><a href="{{post.url}}"><span>Read this</span></a></p>
        </div>
    </div>