<div class="about">
    <div class="status">
    <p><span class="label">Status: </span>Working at <a href="https://tillo.io">Tillo</a></p>
    </div>


    <div class="status-description">
    <div class="container">
        <p class="part-1">
        Lead Frontend Engineer tasked with managing the frontend
        for an ambitious (now successful) gift voucher start up.
        </p>
        <p class="part-2">
        Developing the UI and surrounding tools from near
        inception to a scalable system.
        </p>
        <p class="part-3">
        Taking junior devs to the next stage of their career
        while working with designers and product managers to
        continually improve the product.
        </p>
    </div>
    </div>

</div>