{# <div class="profile-status">
    <div class="profile-status_wrapper">
        <div class="profile-status__short">
            <p>
                <span class="label">Status: </span>
                Working at <a href="https://tillo.io">Tillo</a>
            </p>
        </div>
    </div>
</div> #}

<div class="profile-role">
    <div class="profile-role_wrapper">
        <div class="profile-status__long">
            <p class="part-1">
                My focus is on building products for the web, or building products
                using web technologies.
            </p>
        </div>
    </div>
</div>
