<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Scope This{% if title %}: {{ title }} {% endif %}</title>
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" href="/assets/css/main.css" >
        <script src="/assets/js/prism.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="profile">
                {% include "partials/overview.njk" %}
                {% include "partials/status.njk" %}
            </div>

            <nav class="main-nav">
                <a href="/"><span>Home</span></a>
            </nav>

            <div class="content">
                {{ content | safe }}
            </div>
        </div>
    </body>
</html>