<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }} Scope This</title>
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" href="/assets/css/main.css" >
    </head>
    <body>
        <div id="overview">
            {% include "partials/overview.njk" %}
            {% include "partials/status.njk" %}
        </div>
    </body>
</html>